.title {
    font-size: 4em;
    position: absolute;
    top: 30%;
}
.author {
    display: none;
}
.section > h1 {
    border-bottom: 3px solid #888;
    color: #C00;
    font-size: 3em;
    font-weight: bold;
    margin: 0px 0px 0.66666em;
    padding-top: 0.5em;
}
p,
li,
pre,
code {
    font-size: 1.5em;
}
p {
    margin-bottom: 1em;
}
li pre,
li pre code {
    line-height: 0px;
}
img {
    height: 60%;
}
.note {
    display: none;
}
.center {
    text-align: center;
}
@media (max-width: 799px) {
    .title {
        font-size: 2.5em;
    }
    .section > h1 {
        font-size: 1.75em;
    }
    img {
        height: 60%;
    }
}
